/* site-theme-default.css */

body
{
    color: #333333;
    background-color: #ffffff;
}

#header
{
    color: #000000;
    background-color: #eeeeee;
}

@media screen and (prefers-color-scheme: dark)
{
    body
    {
        color: #cccccc;
        background-color: #000000;
    }

    #header
    {
        color: #eeeeee;
        background-color: #333333;
    }
}
